@import "~bootstrap/dist/css/bootstrap";

.test-div {
  background-color: blue;
  color: black;
}

#calorie-graph {
  width: 75%;
  height: 100%;
}

// removing line from axis

$--stroke-color: #e6a200;

.remove-axis path {
  stroke: $--stroke-color;
}

.remove-axis line {
  stroke: $--stroke-color;
}


// tooltip

$br: 18px;

body {
  background-color: #e6a200;
}


.tooltips {
  display: inline;
  position: absolute;
  width: fit-content;
  color: #FFFFFF;
  background: #e6a200;
  height: fit-content;
  line-height: 34px;
  text-align: center;
  visibility: visible;
  border-radius: $br;
  box-shadow: 1px 1px 9px #8e868c;
  font-size: 30px;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 15px solid #ffffff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    transform: translateX(-50%);
  }

  &:before {
    transform: translateX(-50%);
  }

  .day {
    --size: 68px;
    --size-v: 22px;
    font-size: 31px;
    padding: var(--size-v) var(--size);
  }

  .value {
    --size: 68px;
    --size-v: 22px;
    padding: var(--size-v) var(--size);
    font-size: 31px;
    background-color: #ffff;
    color: black;
    border-radius: 0px 0 $br $br;
  }

}


