<div id="canvas">
</div>

<div id="calorie-graph"></div>


<a class="tooltips" href="#">
    CSS Tooltips
    <span>Tooltip</span>
</a>

<div class="tooltips">
    <div class="data">
        <div class="day">FRIDAY</div>
        <div class="value">79.5AED</div>
    </div>
</div>
