<!doctype html>
<html>

<head>
    <title>Getting Started</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include components/test -%>
    <script src="js/main.js"></script>
</body>

</html>